.MainButton{
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.Translate :hover{
    transform: translateY(-5px);
}



.Headline{

    font-family: "Abril Fatface";
    font-size: 80px;
}